<div class="container flex space-x-7 max-w-lg rounded-md shadow-md p-3">
  <div>
    <h2 class="text-blue-900 text-2xl font-semibold">List of Heroes</h2>
    <hr class="border-2 border-blue-900" />
    <ul>
      <li *ngFor="let hero of heroes" class="flex">
        <a
          routerLink="/detail/{{ hero.id }}"
          [class.selected]="hero === selected_hero"
          class="flex space-x-6 py-2 px-4 m-2 bg-blue-800 text-blue-50 rounded-md cursor-pointer"
        >
          <div class="space-x-3">
            <span class="font-semibold">id:</span>
            <span>{{ hero.id }}</span>
          </div>
          <div class="space-x-3">
            <span class="font-semibold">name:</span>
            <span>{{ hero.name }}</span>
          </div>
        </a>
        <button
          class="text-white bg-red-600 rounded-full px-3 my-3"
          (click)="delete(hero)"
        >
          &times;
        </button>
      </li>
    </ul>
  </div>

  <div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" class="border-2 border-slate-400" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button
      type="button"
      class="bg-green-700 text-white px-2 py-1 my-3"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </div>

  <!-- <app-hero-detail [selected_hero]="selected_hero"></app-hero-detail> -->
  <!-- <app-hero-detail *ngIf="hero"></app-hero-detail> -->
</div>
